<!--
  <ion-header>
  <ion-toolbar color = "primary">
    <ion-title>
      Activity 2 & 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Welcome to the World!
        </ion-card-title>
        <ion-card-subtitle>
          This is a demo to show the Login and Registration Form.
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button class="ion-text-capitalize" (click)="viewLogin()" color="danger">
          View Login Form 
        </ion-button>
        <br/>
        <ion-button class="ion-text-capitalize" (click)="viewReg()" color="secondary">
          View Registration Form
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
-->

<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>Activity 2 & 3</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-button id="open-modal" expand="block" color="warning">Hello World!</ion-button>
  <ion-modal #modal trigger="open-modal" [swipeToClose]="true" [canDismiss]="canDismiss">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Welcome to the world!</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          This is a simple demo of a login form and registration form. <br/><br/>
          Have fun!
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-button expand="block" class="ion-text-capitalize" (click)="viewLogin()" color="danger">
    View Login Form 
  </ion-button>
  <ion-button expand="block " class="ion-text-capitalize" (click)="viewReg()" color="secondary">
    View Registration Form
  </ion-button>
</ion-content>