<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>
      Activity 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Welcome to the World!
        </ion-card-title>
        <ion-card-subtitle>
          This is a demo to show the Login and Registration Form.
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button class="ion-text-capitalize" (click)="viewLogin()" color="danger">
          View Login Form 
        </ion-button>
        <br/>
        <ion-button class="ion-text-capitalize" (click)="viewReg()" color="secondary">
          View Registration Form
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
