<ion-content>
  <div class="container">
    <ion-card>
      <ion-card-header color="secondary">
        <ion-card-title>
          Sign Up
        </ion-card-title>
        <ion-card-subtitle>
          Fill up the necessary information.
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
            <ion-item-group>
              <ion-item>
                <ion-label position="floating">
                  Full Name
                </ion-label>
                <ion-input clearOnEdit="true" autofocus=true maxlength="30"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">
                  Date of birth
                </ion-label><ion-input type="date"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label>
                  Gender
                </ion-label>
              </ion-item>
                <ion-radio-group>
                  <ion-item lines="none">
                    <ion-label>Male</ion-label>
                    <ion-radio slot="start" value="Male"></ion-radio>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>Female</ion-label><ion-radio slot="start"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              <ion-item>
                  <ion-label position="floating">
                    Email
                  </ion-label>
                  <ion-input type="email" inputmode="email" maxlength="25">  
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">
                    Phone
                  </ion-label>
                    <ion-input name="phone" inputmode="tel" maxlength="11">
                    </ion-input>
                </ion-item>
              <ion-item>
                <ion-label position="floating">
                  Username
                </ion-label>
                <ion-input type="username" maxlength=16 placeholder="max. of 16 characters">
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">
                  Password
                </ion-label>
                <ion-input type="password" maxlength=8 placeholder="max of 8 characters">
                </ion-input>
              </ion-item>
              </ion-item-group>
        </ion-list>

        <ion-button color="secondary">
          Sign Up
        </ion-button>
        <ion-button  color="tertiary"(click)="viewHome()">
          Back
        </ion-button>
        <br/>
        <p>Have an account? <a href="/login">Click here to login!</a></p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>